body {
  background-color: #181c2c;
  color: rgba(255, 255, 255, 0.89);
  font-family: Helvetica;
  text-align: center;
}

.card {
  cursor: pointer;
  width: calc(20% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #000000;
  border-radius: 5vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smooth hover effect */
}

.card img {
  width: 100%;
  transition: opacity 0.1s ease-in-out;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-description {
  font-size: 16px;
  color: #555;
  display: none;
}

.card .card-description {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.card-container {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: space-between; /* Add space around the cards (optional) */
  flex-wrap: wrap; /* Allow wrapping to next line if needed */
}

.card .card-content {
  flex-grow: 1;
}

.card:hover {
  transform: scale(1.05);  /* Enlarge the card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Increase shadow on hover */
}

.p {
  margin-top: 5vh; 
  font-size: larger;
}

.video-container {
  width: 50%; /* Adjust the width of the video container */
  margin-left: auto; /* Align to the right */
  margin-right: 0; /* Reset margin-right */
  margin-top: 5vh; /* Adjust margin-top as needed */
}


.content {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.paragraph {
  flex: 1; /* Take up remaining space */
  padding: 20px;
  font-size: x-large;
}

.video {
  flex: 1; /* Take up remaining space */
  padding: 20px;
}


@media (max-width: 768px) {
  .video-container {
    width: 100%; /* Make video container full width on smaller screens */
    margin: 5vh auto; /* Center video container */
  }
}
