body {
  padding-top: 1%;
  background-color: #181c2c;
  color: rgba(255, 255, 255, 0.89);
  font-family: Helvetica;
  text-align: center;
}

.card {
  cursor: pointer;
  width: calc(20% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #000000;
  border-radius: 5vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
  width: 100%;
  transition: opacity 0.1s ease-in-out;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-description {
  font-size: 16px;
  color: #555;
  display: none;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.p {
  margin-top: 5vh;
  font-size: xx-large;
}

.video-container {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  margin-top: 20px;
}

.content {
  display: flex;
  align-items: center;
}

.paragraph {
  text-align: left;
  flex: 1;
  padding: 20px;
  font-size: x-large;
}

@media (max-width: 1300px) {
  body {
    padding-top: 10vh;
  }
}

@media (max-width: 800px) {
  body {
    padding-top: 10vh;
  }
  .video-container {
    width: 100%;
    margin: 5vh auto;
  }
  .paragraph {
    order: -1;
    margin-top: 20px;
  }
}

.social-links {
  position: fixed;
  top: 94%;
  right: 20px;
  display: flex;
}

.social-icon {
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  margin: 12px 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  background-color: #e9e7e7;
  margin: 5px;
}

.social-icon:hover {
  transform: scale(1.4); 
  transition: all 0.2s linear ;
}

.social-icon.instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); 
}

.social-icon.github {
  background-color: #7289da;
}

.social-icon.snapchat {
  background-color: #fffb00;
}

.social-icon.whatsapp {
  background: #1be770; 
}
